<!DOCTYPE HTML>

<link rel="stylesheet" href="/form.css">

<html>
<%- include("./partials/navbar.ejs") %>
<%- include("./partials/errors.ejs") %>
<%- include("./partials/msgs.ejs") %>

<body>
    <div class="content">
        <% if (!locals.user) { %>

        <p>Log in first</p>

        <% } else if (!locals.user?.is_member) { %>

        <p>Become a member to view this page</p>

        <% } else { %>
        <h1>Become an admin</h1>
        <span class="separator"></span>
        <form method="POST">
            <label for="password">Super secret password</label>
            <input name="password" id="password" type="text" placeholder="Admin password">
            <button type="submit" class="primary-btn">Submit</button>
        </form>

        <% } %>
    </div>
</body>


</html>
