<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" href="../form.css">
</head>

<html>
<%- include("./partials/navbar.ejs") %>
<%- include("./partials/msgs.ejs") %>
<%- include("./partials/errors.ejs") %>

<body>
    <div class="content">
        <h1>What's on your mind?</h1>
        <span class="separator"></span>
        <form method="POST">
            <label for="title">
                Title
            </label>
            <input id="title" name="title" type="text" placeholder="Post title" required>

            <label for="body">
                Body
            </label>
            <textarea id="body" name="body" type="text" placeholder="Post body" required> </textarea>
            <button type="submit" class="primary-btn">
                Submit
            </button>
        </form>
    </div>
</body>

</html>
