<!DOCTYPE HTML>

<head>

</head>

<html>

<body>
    <%- include("./partials/errors.ejs") %>
    <form method="POST">
        <input name="username" type="text" placeholder="Username">
        <input name="password" type="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</body>

</html>
