<!DOCTYPE HTML>

<head>

</head>

<html>
    <body>
        <form method="POST">
            <input type="text" placeholder="Username">
            <input type="text" placeholder="Password">
            <button type="submit">Login</button>
        </form>        
    </body>
</html>
