<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" href="./form.css">
</head>

<html>
<%- include("./partials/navbar.ejs") %>
<%- include("./partials/errors.ejs") %>
<%- include("./partials/msgs.ejs") %>

<body>
    <div class="content">
        <h1>Log in to your account</h1>
        <span class="separator"></span>
        <form method="POST">
            <div class="input-group">
                <label for="username">Email</label>
                <input id="username" name="username" type="text" placeholder="Username">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Password">
            </div>
            <a class="acct-reminder" href="/signup">Don't have an account? Click here to sign up!</a>
            <button class="primary-btn" type="submit">Log in</button>
        </form>
    </div>
</body>

</html>
