<!DOCTYPE HTML>

<link rel="stylesheet" href="/form.css">

<html>

<body>
    <%- include("./partials/navbar.ejs") %>
    <%- include("./partials/errors.ejs") %>
    <div class="content">
        <% if (locals.user) { %>
        <form method="POST">
            <label for="secret">Secret password</label>
            <input id="secret" name="secret" type="text" placeholder="Secret password" required>
            <button type="submit" class="primary-btn">
                Submit
            </button>
        </form>
        <% } else { %>
        <p>Log in first to view this page!</p>
        <% } %>
    </div>


</body>

</html>
