<!DOCTYPE HTML>

<html>

<body>
    <%- include("./partials/navbar.ejs") %>
        <%- include("./partials/errors.ejs") %>

            <form method="POST">
                <label for="secret"></label>
                <input id="secret" name="secret" type="text" placeholder="Secret password">
                <button type="submit">
                    Submit
                </button>
            </form>

</body>

</html>
