<!DOCTYPE HTML>

<html>

<body>
    <%- include("./partials/navbar.ejs") %>
    <%- include("./partials/errors.ejs") %>

    <% if (locals.user) { %>
    <form method="POST">
        <label for="secret">Secret password</label>
        <input id="secret" name="secret" type="text" placeholder="Secret password" required>
        <button type="submit">
            Submit
        </button>
    </form>
    <% } else { %>
    <p>Log in first to view this page!</p>
    <% } %>

</body>

</html>
