<!DOCTYPE HTML>

<body>
    <form method="POST">
        <%- include("partials/errors.ejs") %>
            <input name="name" type="text" placeholder="Full Name">
            <input name="email" type="email" placeholder="Email">
            <input name="password" type="password" placeholder="Password">
            <input name="confirm_password" type="password" placeholder="Confirm Password">
            <button type="submit">Sign up</button>
    </form>
</body>
