<!DOCTYPE HTML>
<link rel="stylesheet" href="./errors.css">
<% if (locals.errors && Array.isArray(locals.errors)) { %>
    <div class="error-container">
        <% locals.errors.map(err=> { %>
            <div class="error">
                <p>
                    <%= err.msg %>
                </p>
            </div>
            <% }) %>
    </div>
    <% } %>
