<!DOCTYPE HTML>
<% if (locals.errors && Array.isArray(locals.errors)) { %>
    <% locals.errors.map(err=> { %>
        <p>
            <%= err.msg %>
        </p>
        <% }) %>
            <% } %>
