<!DOCTYPE HTML>

<head>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../navbar.css">

</head>

<nav>
    <h1 class="logo">
        <a class="logo-link" href="/">
            Odin Forum
        </a>
    </h1>
    <% if (!locals.user) { %>
    <div class="nav-options">
        <a class="nav-option" href="/login">Login</a>

        <a class="nav-option" href="/signup">Signup</a>
    </div>
    <% } %>


    <% if (locals.user) { %>
    <div class="dropdown">
        <div class="dropdown-header">
            <svg class="icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="hsl(262 59% 93.2%)">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M12.1992 12C14.9606 12 17.1992 9.76142 17.1992 7C17.1992 4.23858 14.9606 2 12.1992 2C9.43779 2 7.19922 4.23858 7.19922 7C7.19922 9.76142 9.43779 12 12.1992 12Z" stroke="hsl(262 59% 93.2%);" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M3 22C3.57038 20.0332 4.74796 18.2971 6.3644 17.0399C7.98083 15.7827 9.95335 15.0687 12 15C16.12 15 19.63 17.91 21 22" stroke="hsl(262 59% 93.2%);" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
            </svg>
            <p>
                <%= locals.user.name %>
            </p>
            <svg class="dropdown-chevron" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="hsl(262 59% 93.2%)">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <g id="Arrow / Chevron_Up">
                        <path id="Vector" d="M5 16L12 9L19 16" stroke="hsl(262 59% 93.2%);" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                </g>
            </svg>
        </div>
        <ul class="menu-list">
            <% if (locals.user && locals.user.is_member && !locals.user.is_admin) { %>
            <li>
                <form action="/admin" method="GET">
                    <button class="dropdown-btn" type="submit">
                        Super Secret
                    </button>
                </form>
            </li>
            <% } %>

            <% if (locals.user && !locals.user.is_member) { %>
            <li>
                <form action="/secret" method="GET">
                    <button class="dropdown-btn" type="submit">
                        Secret
                    </button>
                </form>
            </li>
            <% } %>
            <li>
                <form action="/logout" method="POST">
                    <button class="dropdown-btn" type="submit">
                        Logout
                    </button>
                </form>
            </li>
        </ul>
    </div>
    <% } %>



</nav>
<script>
    const dropdowns = document.querySelectorAll(".dropdown")
    dropdowns.forEach(element => {
        element.addEventListener("click", (e) => {
            element.classList.toggle("active")
            Array.from(element.children).forEach(ele => ele.classList.toggle("active"))
        })
    })
</script>
