<!DOCTYPE HTML>

<div>
    <% if (locals.posts) { %>
        <% locals.posts.map(post=> { %>
            <div>
                <p>
                    <%= post.title %>
                </p>
                <p>
                    <%= post.body %>
                </p>
                <p>
                    <%= post.created %>
                </p>
                <p>
                    <%= locals.user ? post.author : "anonymous" %>
                </p>
            </div>
            <% }) %>
                <% } %>
</div>
