:root {
    --accent-500: hsl(262 20.8% 38.2%);
    --bg-500: hsl(262 8.6% 6.8%);
    --bg-600: hsl(262 12.8% 12.2%);
    --border: hsl(262 12.7% 30.6%);
    --font-color: hsl(262 59% 93.2%);
    --font-color-muted: hsl(262 15% 70.2%);

    /* Typography */
    --font-family-base: sans-serif;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.3rem;
    --font-size-xl: 1.6rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Spacing Scale */
    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;
    --space-20: 20px;
    --space-28: 28px;
    --space-40: 40px;
    --space-60: 60px;
    --space-100: 100px;
    --space-160: 160px;
    --space-240: 240px;

    /* Borders */
    --border-radius: 0.5rem;
    --border-width: 1px;
}
