:root {
    --accent-500: hsl(262 20.8% 38.2%);
    --accent-400: hsl(262 18.8% 50.2%);
    --complementary-500: hsl(0, 81%, 65%);
    --complementary-500-faded: hsla(0, 61%, 25%, .9);
    --accept: hsl(145 41% 38%);

    --bg-400: hsl(262 2.6% 12.8%);
    --bg-500: hsl(262 3.6% 6.8%);
    --bg-600: hsl(262 6.8% 12.2%);
    --bg-700: hsl(262 20.8% 22.2%);


    --info-300: hsl(205 20% 25%);
    --info-800: hsl(205 60% 85%);

    --border: hsl(262 12.7% 30.6%);
    --font-color: hsl(262 59% 93.2%);
    --font-color-muted: hsl(262 15% 70.2%);
    --font-color-muted-accent: hsl(262 20.8% 80.2%);

    /* Typography */
    --font-family-base: sans-serif;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.3rem;
    --font-size-xl: 1.6rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Spacing Scale */
    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;
    --space-20: 20px;
    --space-28: 28px;
    --space-40: 40px;
    --space-60: 60px;
    --space-100: 100px;
    --space-160: 160px;
    --space-240: 240px;

    /* Borders */
    --border-radius: 0.5rem;
    --border-width: 1px;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
}
