.msg {
    background-color: var(--info-300);
    border: 1px solid var(--info-800);
    width: 50%;
    height: 100%;
    padding: var(--space-8) var(--space-12);
    box-sizing: border-box;
    border-radius: var(--border-radius);
}

.msg-container {
    display: flex;
    justify-content: center;
    margin-bottom: var(--space-28);
}

.msg-container p {
    color: var(--info-800);
}
