nav {
    box-sizing: border-box;
    padding: var(--space-12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-500);
    box-shadow: 6px 0 12px var(--accent-500);
    margin-bottom: var(--space-40);
    width: 100%;
}

.logo {
    font-weight: var(--font-weight-normal);
}

.nav-options {
    display: flex;
    justify-content: space-between;
    min-width: 12em;
}

.nav-option,
.nav-option:visited {
    font-size: var(--font-size-lg);
    color: var(--font-color-muted-accent);
}

.nav-option:hover {
    color: var(--font-color);
}

.icon {
    width: var(--font-size-lg);
    height: var(--font-size-lg);
}

.user-container {
    display: flex;
    align-items: center;
    gap: .5em;
}

.user-container p {
    line-height: 1;
}
