nav {
    box-sizing: border-box;
    padding: var(--space-12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-500);
    box-shadow: 6px 0 12px var(--accent-500);
    margin-bottom: var(--space-40);
    width: 100%;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    min-width: 12em;
}

nav a,
nav a:visited {
    font-size: var(--font-size-lg);
    color: var(--font-color-muted-accent);
}

nav a:hover {
    color: var(--font-color);
}
