nav {
    box-sizing: border-box;
    padding: var(--space-12) var(--space-60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-500);
    box-shadow: 6px 0 12px var(--accent-500);
    margin-bottom: var(--space-40);
    width: 100%;
}

.logo {
    font-weight: var(--font-weight-normal);
}

.nav-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 12em;
}

.nav-option,
.nav-option:visited {
    font-size: var(--font-size-lg);
    color: var(--font-color-muted-accent);
}

.nav-option:hover {
    color: var(--font-color);
}

.icon {
    width: var(--font-size-lg);
    height: var(--font-size-lg);
}

.dropdown-header {
    display: flex;
    align-items: center;
    padding: var(--space-8);
    gap: .25em;
}

.dropdown {
    border: 1px solid var(--border);
    background-color: var(--accent-400);
    border-radius: var(--border-radius);
}

.dropdown-btn {
    background-color: var(--bg-700);
    color: var(--font-color);
    text-align: left;
}

.user-container p {
    line-height: 1;
}

.dropdown-chevron {
    width: var(--font-size-base);
    transform: rotate(180deg);
    margin-left: .25em;
}

.dropdown-chevron.active {
    transform: rotate(0);
}

.dropdown-btn {
    border: none;
}
