@import "./globals.css";

.header-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: flex-end;
}

.header-container h1 {
    line-height: 1;
    font-weight: var(--font-weight-normal);
}

.header-container button {
    padding: var(--space-8);
}

.card {
    width: 50%;
}

.separator {
    width: 50%;
    margin: var(--space-12) 0 var(--space-28);
}

.card-header-container {
    display: flex;
    column-gap: var(--space-12);
    font-size: var(--font-size-sm);
    margin-bottom: var(--space-4);
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-20);
    width: 100%;
    align-items: center;
}

.post-title {
    /* line-height: 1.05; */
}


.post-body {}

.post-date {
    color: var(--font-color-muted);
}

.post-author {
    color: var(--font-color-muted);
}
