@import "./globals.css";

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card {
    border: 1px solid var(--border);
    padding: var(--space-40);
    border-radius: 8px;
    width: 70%;
    display: flex;
    flex-direction: column;
    /*    "author date"
        "title"
        "body"
        "delete"; */
}

.card-header-container {
    display: flex;
    column-gap: var(--space-12);
    font-size: var(--font-size-sm);
    margin-bottom: var(--space-4);
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-60);
    width: 100%;
    align-items: center;
}

.post-title {}


.post-body {}

.post-date {
    color: var(--font-color-muted);
}

.post-author {}

.primary-btn {
    border-radius: 8px;
    border: none;
    background-color: var(--accent);
    color: var(--font-color);
}
