@import "./globals.css";

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: flex-end;
}

.header-container h1 {
    line-height: 1;
    font-weight: var(--font-weight-normal);
}

.header-container button {
    padding: var(--space-8);
}

.card {
    box-sizing: border-box;
    border: 1px solid var(--border);
    padding: var(--space-28);
    border-radius: 8px;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-600);
    /*    "author date"
        "title"
        "body"
        "delete"; */
}

.seperator {
    display: inline-block;
    width: 50%;
    height: 1px;
    border-radius: 8px;
    background-color: var(--border);
    margin: var(--space-12) 0 var(--space-28);
}

.card-header-container {
    display: flex;
    column-gap: var(--space-12);
    font-size: var(--font-size-sm);
    margin-bottom: var(--space-4);
}

.post-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-20);
    width: 100%;
    align-items: center;
}

.post-title {
    /* line-height: 1.05; */
}


.post-body {}

.post-date {
    color: var(--font-color-muted);
}

.post-author {
    color: var(--font-color-muted);
}

.primary-btn {
    border-radius: 8px;
    border: none;
    background-color: var(--accent-500);
    background-color: var(--complementary-600);
    color: var(--font-color);
}
