@import "./globals.css";

body,
html,
p,
h1,
h2 {
    margin: 0;
    padding: 0;
}

html {
    color: var(--font-color);
    background-color: var(--bg-500);
}

a {
    text-decoration: none;
}

body {
    font-family: 'Nunito Sans';
}

a:visited {
    color: inherit;
}

button:hover {
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card {
    box-sizing: border-box;
    border: 1px solid var(--border);
    padding: var(--space-28);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-600);
}

.separator {
    display: inline-block;
    height: 1px;
    border-radius: 8px;
    background-color: var(--border);
}

.primary-btn {
    border-radius: 8px;
    border: none;
    background-color: var(--accept);
    color: var(--font-color);
}

input:focus,
textarea:focus {
    outline: none;
}

textarea {
    resize: none;
    font-family: "Nunito Sans";
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.menu-list {
    position: absolute;
    right: 0;
    list-style-type: none;
    /* padding: .25em 0; */
    padding: 0;
    margin: 0;
    display: none;
    min-width: var(--space-160);
    box-sizing: border-box;
    overflow: hidden;
}

.menu-list form,
.dropdown-btn {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex: 1;
}

.menu-list form {
    display: flex;
}

.menu-list.active {
    top: 100%;
    display: block;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* background-color: var(--bg-700); */
    background-color: none;
}
