body,
html,
p,
h1,
h2 {
    margin: 0;
    padding: 0;
}

html {
    color: var(--font-color);
    background-color: var(--bg-500);
}

a {
    text-decoration: none;
}

body {
    font-family: 'Nunito Sans';
}

a:visited {
    color: inherit;
}

button:hover {
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card {
    box-sizing: border-box;
    border: 1px solid var(--border);
    padding: var(--space-28);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-600);
}

.separator {
    display: inline-block;
    height: 1px;
    border-radius: 8px;
    background-color: var(--border);
}

.primary-btn {
    border-radius: 8px;
    border: none;
    background-color: var(--accept);
    color: var(--font-color);
}
